<h1>Add Student</h1>
<form method="post" action="/students/new">
	<input type="text" name="student_name" placeholder="name">
	<input type="email" name="student_email" placeholder="email">
	<input type="submit">
	
</form>