<section class="students students--edit">
	<h1>Edit Student</h1>
	<form method="post" action="/students/edit">
		<input type="text" name="student_name" value="<%= student.name %>">
		<input type="email" name="student_email" value="<%= student.email %>">
		<input type="hidden" name="student_id" value="<%= student.id %>">
		<input type="submit">
		
	</form>
</section>